@charset "UTF-8";


/********** CSS RESET **********/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html, body {
    height: 100%;
}

/*** HEADER ***/

header {
    font-family: 'Arial', sans-serif;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 100;
    background: white;
}

.header-holder {
    max-height: 100px;
    max-width: 2000px;
    width:100%;
    margin: 0 auto;
    overflow: hidden;
    background: white;
    padding-left: 650px;
}

.header-logo {
    margin: 30px;
    float: left;
}

.header-arrow {
    float:left;
    margin-top: 30px;
    margin-left: 80px;
}

.header_select_option {
    float: left;
    height: 26px;
    width: 170px;
    background-color: red;
    color: white;
    text-align: center;
    padding-top: 10px;
    margin-top: 30px;
    margin-right: 25px;
    margin-left: 1px;
}

.header_select_option:hover {
    cursor: pointer;
}

.header-links {
    float: left;
    font-size: small;
    margin-top: 40px;
    margin-left: 35px;
}

header a:link {
    color: gray;
    text-decoration: none;
}

header a:visited {
    color: grey;
}

header a:hover {
    color: gray;
}

header a:active {
    color: red;
    text-decoration: underline;
}

.header-phone-box-img {
    float: left;
    height: 38px;
    width: 38px;
    padding: 0 auto;
    background: gray;
    margin-top: 30px;
    margin-left: 90px;
}

.header-phone-img {
    margin-top: 10px;
    margin-left: 10px;

}

.header-phnumber-box {
    float: left;
    height: 38px;
    width: 132px;
    margin-top: 32px;
    margin-left: 7px;
    background: white;
}

.header-phnumber {
    float: left;
    margin-left: 5px;
    background: white;
    font-weight: bold;
    font-size: medium;
}

.header-phnumber-text {
    float : left;
    margin-top: 4px;
    margin-left: 5px;
    background: white;
    color: gray;
    font-size: 11px;
}

.header-srb {
    float: left;
    margin-top: 35px;
    margin-left: 60px;

}

/*** FOOTER ***/

footer {
    font-family: 'Arial', sans-serif;
    max-width: 2000px;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    color: black;
    background: #383838;
}

.footer-holder {
   
    max-width: 1200px;
    width:100%;
    max-height: 100px;
    height: 100px;
    margin: 0 auto;
    background: #383838;
    padding-left: 380px;
}

.footer-logo {
    float: left;
    margin-top: 28px;
}

.footer-links-box {
    float:left;
    height: 30px;
    width: 500px;
    margin-top: 30px;
    margin-left: 530px;
    
    
}

.footer-links {
    
    float: left;
    font-size: small;
    margin-left: 40px;
}

.footer-text {
    float: left;
    max-width: 220px;
    width: 400px;
    max-height: 50px;
    height:50px;
    font-size: 5px;
    color: white;
    margin-top: 50px;
    margin-left: -450px;
}

footer a:link {
    color: gray;
    text-decoration: none;
}

footer a:visited {
    color: grey;
}

footer a:hover {
    color: gray;
}

footer a:active {
    color: red;
    text-decoration: underline;
}




/*** PAGE1 ***/

article {
    padding-top: 100px;
    min-height: calc(100% - 200px);
    margin: 0 auto;
    background: white;
}

.slick-pictures {
    max-width: 2000px;
    width:100%;
    max-height: 550px;
    height:550px;
    margin: 0 auto;
    border-bottom: 1px solid red;
}

.slider {
    font-size: 14px;
    color: #5f5f5f;
}

.slider-img {
    width: 100%;
    overflow: hidden;
}

.slider-slide {
    position: relative;
}

.slider-content {
    width: 50%;
    height: 100%;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    background: #fff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #fff , transparent); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #fff, transparent); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #fff, transparent); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #fff , transparent); /* Standard syntax (must be last) */
}

.slider-title {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin-top: 100px;
    font-size: 70px;
    margin-bottom: 50px;
    margin-left: 80px;
    font-size: 40px;
    color: #000;
    line-height: 1;
}

.slider-title span {
    color: #e30016;
}

.slider-text {
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 80px;
    margin-bottom: 40px;
    font-size: 15px;
    line-height: 150%;
}

.btn-main {
    position:absolute;
    width: 200px;
    height: 35px;
    background-color: #e30016;
    outline: none;
    border: none;
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
}

.btn-main-holder-page1 {
    margin-left: 80px;
}

.abaut-box {
    max-width: 2000px;
    width:100%;
    max-height: 410px;
    height: 410px;
    margin: 0 auto;
    background: white;
    border-bottom: 1px solid red;
}

.abaut-left-pic {
    float:left;
    max-width: 330px;
    max-height: 330px;
    margin-top: 60px;
    margin-left:600px;
}

.about-title {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin-left: 1000px;
    font-size: 30px;
    padding-top: 100px; 
}

.about-subtitle {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0px;
    margin-left: 1000px;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.about-title span {
    color:red;
}

.abaut-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    line-height: 150%;
    margin-left: 1000px;
    color: #5f5f5f;
}

.abaut-link {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    line-height: 150%;
    color: red;
    margin-left: 1000px;
    margin-top: 20px;
}

.abaut-link a:visited {
    color: red;
    text-decoration: underline;
}

.abaut-more-box {
    max-width: 2000px;
    width: 100%;
    max-height: 360px;
    height: 360px;
    margin: 0 auto;
    background: #E6E6E6;
}

.abaut-more-left-pic {
    float: right;
}

.abaut-more-title {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-left: 480px;
    padding-top: 70px;
}

.abaut-more-subtitle {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 30px;
    margin-left: 480px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.abaut-more-title span {
    color: red;
}

.abaut-more-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    line-height: 150%;
    color: #5f5f5f;
    margin-left: 480px;
}

.abaut-more-link {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    line-height: 150%;
    color: red;
    margin-left: 480px;
    margin-top: 20px;
}

.abaut-more-link a:visited {
    color: red;
    text-decoration: underline;
}

.places-box {
    max-width: 2000px;
    width: 100%;
    max-height: 500px;
    height: 500px;
    background: url(../img/pictures/page-1/04-image.jpg);
    margin: 0px auto;
    text-align: center;
}

.places-logo {
    position: absolute;
    max-width: 100px;
    width: 100%;
    max-height: 115px;
    height: 115px;
    background: url(../img/graphics/sprite/HireTest-sprite.png) 300px -200px;
    margin-top: 22px;
    margin-left: 950px;
}


.places-title {
    position: absolute;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 180px;
    margin-left: 800px;
    color: white;
}

.places-subtitles {
    position: absolute;
    font-family: 'Arial', sans-serif;
    font-size: 53px;
    font-weight: bold;
    margin-top: 230px;
    margin-left: 840px;
    color:white;
}

.places-text {
    position: absolute;
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    line-height: 200%;
    margin-top: 300px;
    margin-left:790px;
    color: white;
}

.places-button {
    position: absolute;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    width: 200px;
    height: 25px;
    background-color: #fff;
    outline: none;
    border: none;
    font-size: 10px;
    color: black;
    padding-top: 10px;
    margin-left: 910px;
    margin-top: 370px;
}

/*** PAGE2 ***/

.text-box-page2 {
    max-width: 2000px;
    width: 100%;
    height: 190px;
    margin: 0px auto;
    background: white;
    color: gray;
}

.text-title-page2 {
    font-family: 'Arial', sans-serif;
    float:left;
    height: 55px;
    width: 100%;
    font-size: 50px;
    font-weight: bold;
    color: #2E2E2E;
    margin-left: 520px;
    margin-top: 40px;
}

.text-page2 {
    float:left;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #5f5f5f;
    font-weight: bold;
    line-height: 130%;
    margin-left: 650px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bildings-box-page2 {
    max-width: 2000px;
    width:100%;
    max-height: 300px;
    height:300px;
    margin: 0 auto;
}


.doors-colors-icon-doors-box {
    max-width: 2000px;
    width:100%;
    max-height: 220px;
    height: 220px;
    margin: 35px auto;
    border-top: 1px solid gray;
}

.doors-colors-icon-doors-small-box {
    max-width:1000px;
    width:100%;
    max-height: 220px;
    height:220px;
    margin:0 auto;
}

.doors-colors-box {
    float:left;
    max-width: 500px;
    width:100%;
    max-height: 220px;
    height: 220px;
    border-right: 1px solid gray;
    text-align: center;
}

.doors-color-title {
    font-family: 'Arial', sans-serif;
    max-width: 496px;
    width:100px;
    max-height: 70px;
    height: 70px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 25px;
    color: #2E2E2E;
}

.doors-colors-box-small {
    float: left;
    max-width: 400px;
    width:100%;
    max-height: 107px;
    height:107px;
    margin-top: 0px;
}

.color-door1 {
    float: right;
    width: 60px;
    height: 16px;
    margin-left: 10px;
    background: url(../img/graphics/sprite/HireTest-sprite.png) 100px 0px;
}

.color-door2 {
    float:right;
    width: 60px;
    height: 16px;
    margin-left: 10px;
    background: url(../img/graphics/sprite/HireTest-sprite.png) 100px -100px;
}

.color-door3 {
    float:right;
    width: 60px;
    height: 16px;
    margin-left: 10px;
    background: url(../img/graphics/sprite/HireTest-sprite.png) 100px -200px;
}
.color-door4 {
    float:right;
    width: 60px;
    height: 16px;
    margin-left: 10px;
    background: url(../img/graphics/sprite/HireTest-sprite.png) 100px -300px;
}

.color-door5 {
    float:right;
    width: 60px;
    height: 16px;
    margin-left: 10px;
    background: url(../img/graphics/sprite/HireTest-sprite.png) 100px -400px;
}

.color-door6 {
    float:right;
    width: 60px;
    height: 16px;
    margin-left: 10px;
    background: url(../img/graphics/sprite/HireTest-sprite.png) 100px -500px;
}

.color-door7 {
    float:right;
    width: 60px;
    height: 16px;
    margin-left: 10px;
    background: url(../img/graphics/sprite/HireTest-sprite.png) 100px -600px;
}

.color-door8 {
    float:right;
    width: 60px;
    height: 16px;
    margin-left: 10px;
    background: url(../img/graphics/sprite/HireTest-sprite.png) 100px -700px;
}

.color-door9 {
    float:right;
    width: 60px;
    height: 16px;
    margin-left: 10px;
    background: url(../img/graphics/sprite/HireTest-sprite.png) 100px -800px;
}

.color-door10 {
    float:right;
    width: 60px;
    height: 16px;
    margin-left: 10px;
    background: url(../img/graphics/sprite/HireTest-sprite.png) 100px -900px;
}

.color-door11 {
    float:right;
    width: 60px;
    height: 16px;
    margin-left: 10px;
    background: url(../img/graphics/sprite/HireTest-sprite.png) 100px -1000px;
}

.color-door12 {
    float:right;
    width: 60px;
    height: 16px;
    margin-left: 10px;
    background: url(../img/graphics/sprite/HireTest-sprite.png) 100px -1100px;
}

.color-door-checkbox {
    float:left;
    max-width:90px;
    height: 16px;
    margin-right: 40px;
    margin-bottom: 14px;
}


.icons-doors-box {
    float:left;
    max-width: 496px;
    width:100%;
    max-height: 220px;
    height: 220px;
    margin: 0 auto;
}

.icons-doors-box-small {
    max-width: 496px;
    width:100%;
    max-height: 170px;
    height:170px;
    margin-top: 50px;
}  

.icons-doors-tittle {
    float: left;
    max-width: 450px;
    width: 100%;
    max-height: 40px;
    height:40px;
    margin-left: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #2E2E2E;
}

.icheckbox-my {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    background: url(../img/graphics/icons/checkbox-inactive.png);
    border: none;
    cursor: pointer;
}

.icheckbox-my.checked {
    background: url(../img/graphics/icons/checkbox-active.png);
}

.icon-door1 {
    float:left;
    margin-top: 20px;
    margin-right: 70px;
    margin-left: 45px;
    content:  url(../img/graphics/icons/icon-door-1-inactive.png);
}

.icon-door2 {
    float:left;
    margin-top: 20px;
    margin-right: 70px;
    content:  url(../img/graphics/icons/icon-door-2-inactive.png);
}

.icon-door3 {
    float: left;
    margin-right: 70px;
    content:  url(../img/graphics/icons/icon-door-3-inactive.png);
}

.icon-door4 {
    float:left;
    margin-top: 20px;
    content:  url(../img/graphics/icons/icon-door-4-inactive.png);
}

.pattern-page2 {
    max-width: 2000px;
    width:100%;
    max-height: 56px;
    height:56px;
    margin: 0 auto;
    background: url(../img/graphics/icons/pattern.png) repeat;
}

.box-doors-page2 {
    max-width: 2000px;
    width:100%;
    max-height: 350px;
    height: 350px;
    margin: 0 auto;
}

.box-doors-page2-small {
    max-width: 980px;
    width:100%;
    max-height: 300px;
    height: 300px;
    margin: 0 auto;
}

.box-doors-title {
    max-width: 1000px;
    width:100%;
    max-height: 40px;
    height:40px;
    margin: 0 auto;
}

.doors-title {
    float:left;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #5f5f5f;
    margin-right: 82px;
    margin-left: 75px;
}

/*** PAGE3 ***/

.title-box-page3 {
    max-width: 2000px;
    width: 100%;
    max-height: 130px;
    height: 130px;
    margin: 0 auto;
}

.title-box-holder-page3 {
    font-family: 'Arial', sans-serif;
    max-width: 1000px;
    width: 100%;
    max-height:130px;
    height: 130px;
    margin: 0 auto;
    color: #2E2E2E;
    font-size: 40px;
    font-weight: bold;
    padding-top: 40px;
}

.button-box-table-filters {
    max-width: 2000px;
    width: 100%;
    max-height: 100px;
    height: 100px;
    margin:0 auto;
}

.button-hollder-table-filters {
    max-width: 1000px;
    width: 100%;
    max-height: 100px;
    height: 100px;
    margin: 0 auto;
}

.filter-button-srb {
    max-height: 30px;
    height: 30px;
    width: 75px;
    margin-top: 30px;
    background: red;
    color: white;
    text-align: center;
}

.filter-button-ger {
    max-height: 30px;
    height: 30px;
    width: 90px;
    margin-top: 30px;
    margin-left: 10px;
    background: red;
    color: white;
    text-align: center;
}

.filter-button-frn {
    max-height: 30px;
    height: 30px;
    width: 90px;
    margin-top: 30px;
    margin-left: 90px;
    background: red;
    color: white;
    text-align: center;
}

.filter-button-vpr {
    max-height: 30px;
    height: 30px;
    width: 110px;
    margin-top: 30px;
    margin-left: 10px;
    background: red;
    color: white;
    text-align: center;
}

.filter-button-mpr {
    max-height: 30px;
    height: 30px;
    width: 115px;
    margin-top: 30px;
    margin-left: 10px;
    background: red;
    color: white;
    text-align: center;
}

table {
    font-family: 'Arial', sans-serif;
    font-size: small;
    width: 1000px;
    height: 700px;
    border-collapse: collapse;
    margin: 0 auto;
}

tr,td {
    text-align: left;
    padding-top: 13px;
}

th {
    border-bottom: 1px solid gray;
    text-align: left;
    padding-right: 220px;
}

.table-adress {
    text-align: right;
    padding-right: 0px;
}

.table-telephone {
    padding-right: 30px;
}

.box-text-page3 {
    max-width: 2000px;
    width:100%;
    max-height: 310px;
    height: 310px;
    margin: 0 auto;
}

.box-text-holder-page3 {
    font-family: 'Arial', sans-serif;
    max-width: 1000px;
    width: 1000px;
    max-height: 310px;
    height: 310px;
    margin: 0 auto;
}

.text1-after-table {
    position:absolute;
    margin-top: 70px;
    margin-left: 300px;
    font-size: 23px;
    font-weight: bold;
    color: red;
}

.text2-after-table {
    position: absolute;
    margin-top: 100px;
    margin-left: 390px;
    font-size:16px;
    font-weight: bold;
    color: #5f5f5f;
}

.btn-main-holder-page3 {
    position:absolute;
    margin-top: 150px;
    margin-left: 390px;
}





